.mensaje1 {
  display: inline-block;
  border: 2px solid #000;
  border-radius: 6px;
  background-color: lightyellow;
  }

.mensaje2{
  display: inline-block;
  border: 2px solid #000;
  border-radius: 6px;
  background-color: lightgreen;
}
