.mensaje1 {
  width: 15%;
  border: 2px solid #000;
  border-radius: 6px;
  padding: 2px;
  background-color: lightyellow;
  }

.mensaje2{
  width: 15%;
  border: 2px solid #000;
  border-radius: 6px;
  padding: 2px;
  background-color: lightgreen;
}
